html,body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: url('../img/carbon_fibre_big.png') fixed;
}

body {
  background-color: #363636;
  color:#ccc !important;
}
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

h2 {
  margin-top:30px;
}
.steps {
  font-size:16px;
  width:300px;
  text-align:left;
  margin:20px auto;
}


  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 700px;
  }

